#direct table thead {
	background: silver;
}

.container code, code {
	display: block;
	width: 100%;
	margin: 10px 0 0 10px;
	color: gray;
	background:#eceaea;
	white-space: pre !important;
}

.info p {
	margin-top: 10px !important;
}

.separator {
	border-bottom: 1px solid gray;
}